@model IEnumerable<Lab5.Models.IdentityConfiguration>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaxFailedAccessAttemptsBeforeLockout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultAccountLockoutTimeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetLockout)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.EditorFor(modelItem => item.MaxFailedAccessAttemptsBeforeLockout)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.DefaultAccountLockoutTimeSpan)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.SetLockout)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
